<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895414740377-oglm5vv8vlgbtvo12kp6ekkk55420fbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895414740377-oglm5vv8vlgbtvo12kp6ekkk55420fbc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>895414740377-maufhaonk8h2jq5de4ne8ndhk4n6u0ft.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNjAVOxVNc7i56_fcsK6LAUnPUqKj-PVI</string>
	<key>GCM_SENDER_ID</key>
	<string>895414740377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CricApp</string>
	<key>PROJECT_ID</key>
	<string>crick-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>crick-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895414740377:ios:7a0e4a03c70a27fed79f08</string>
	<key>DATABASE_URL</key>
	<string>https://crick-rn.firebaseio.com</string>
</dict>
</plist>